
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --standard-dark-color: #80bd5a;
    --standard-color: #9be979;
    --standard-light-color: ;

    --contrast-color: #ff5b5b;
    --contrast-light-color: #ff7a7a;
    --contrast-lighter-color: #ffacac;

    --dark-theme: #121212;
    --dark-theme-02: #242424; 

    --font-01: #fff;
    --font-02: #cfcece;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #121212;
    color: var(--font-01);
    font-family: "Poppins", sans-serif;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-weight: 600;
}

button {
    background: linear-gradient(45deg, var(--standard-color), var(--font-01));
    background-size: 200%;
    background-position: left;
    color: var(--font-01);
    border: none;
    border-radius: 50px;
    font-size: 22px;
    padding: 14px 22px;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    background-position: right;
    transform: scale(.9);
}

.win-box.hide , .start-box.hide {
    transform: scale(.6) translateY(-80%) translateX(-90%);
    opacity: 0;
    pointer-events: none;
}

.win-box, .start-box {
    background: var(--dark-theme);
    width: 350px;
    height: 250px;
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border: 8px solid var(--standard-color);
    border-radius: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}



.grid.hide {
    transform: scale(.6);
    opacity: 0;
    pointer-events: none;
}

.grid {
    background: var(--dark-theme);
    width: 400px;
    height: 530px;
    padding: 12px;
    border: 8px solid var(--standard-color);
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

img {
    width: 100px;
    height: 100px;
    margin: 8px;
    border-radius: 12px;
    transition: .3s;
    cursor: pointer;
}

img:hover {
    transform: scale(.9);
}
